<!-- views/cookieindex.ejs -->
<!DOCTYPE html>

<body>
    <form method="POST">
        Wartość z ciastka:
        <%= cookieValue %>
        <a href="deletecookie">Usuń ciastko</a>
        <button>Zapisz</button>
    </form>
</body>

</html>