<!-- views/upload.ejs -->
<!DOCTYPE html>
<html lang="en">

<body>
    <form action="/uploaded" method="post" enctype="multipart/form-data">
        <input type="file" name="filename" />
        <button>Zapisz</button>
    </form>
</body>

</html>